			<header ng-include="'../layouts/navbar.html'"></header>
			<main>
				<div class="album py-5 bg-light" id="album">
					<div class="container">
						<div class="row">
							<a href="/series/anotation" class="btn btn-primary" >Back</a>
						</div>
						<div class="row mt-4">
							<div class="col-md-3" ng-repeat='episode in episodes'>
								<div class="card mb-4 box-shadow" >
										<img class="card-img-top" ng-src="media/{{media}}/{{episode.name}}/thumbnail.jpg" alt="{{episode.title}} image" onerror="$(this).parents(':eq(1)').hide()" >
									<div class="card-body">
										<p class="card-title">{{episode.title}}</p>
										<div class="d-flex justify-content-between align-items-center">
											<a href="/anotation/{{media}}/{{episode.name}}" class="btn-sm btn-primary" >Anotate Video</a>

											<i class="fas " ng-class="{0:'fa-user-slash', 1:'fa-user-cog',2:'fa-user-tag', 3:'fa-user-edit',4:'fa-user-cog', 5:'fa-user-check'}[episode.face_status]"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</main>

