			<header ng-include="'../layouts/navbar.html'"></header>
			<main>
				<div class="py-5 bg-light text-center">
			
					<div class="container">
						<div class="row justify-content-center">
							<div id="loader"></div>
						</div>
						<div id="preprocessing">
							<div class="row">
								<a href="#" class="btn btn-primary" ng-click="back()">Back</a>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<h5> Video is being preprocessed</h5>
								</div>	
							</div>	
						</div>
						<div id="anotation-tool" >
							<div class="row">
								<div class="btn btn-primary" ng-click="back()">Back</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-12">
									<h5> 1. Select a scene to anotate</h5>

									<div id="wave-timeline"></div>
									<div id="waveform"></div>
								</div>
							</div>
							<div class="row justify-content-center mt-3">
								<div class="col-sm-6">
									<h6> 2. Add the video characters</h6>
									<input type='text' ng-model='newCharacter' />
									<a href="#" class="btn btn-primary" ng-click='addCharacters(newCharacter)'>Add</a>
									<div class="container mt-3" ng-if="characters.length>0">	
										<div class="row">
											<h6> 3. Drag the character speaking on the scene</h6>
										</div>
										<div class="row">
											<div  class="btn btn-info col-md-3 m-1" ng-repeat='character in characters' draggable="true" >{{character}} <span class="badge badge-light" ng-click="removeCharacter(character)">x</span></div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
												<h6> 4. Drop the character</h6>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12" style="position:relative">
											<video id="video" width="100%" autoplay="true" ></video>
											<canvas id="canvas" width="100%" droppable="true"></canvas>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-sm-12">
											<div ng-if="sceneCharacter!='' && sceneCharacter!= undefined "  class="btn btn-warning" >
												{{sceneCharacter}} <span class="badge badge-light" ng-click="remove()">x</span>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="row mt-3 justify-content-md-end">
								<div class="btn btn-primary" ng-click="back()">Finish</div>
							</div>
						</div>
					</div>
				</div>
			</main>

