<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/img/logo_easytv_sintexto.png" id="icon" alt="EasyTv logo" />
    </div>

    <!-- Login Form -->
    <form >

      <input type="text" id="apikey" class="fadeIn second" name="apikey" ng-model="apiKey" placeholder="Api Key">
      <div class="auth-error">Wrong Api- Key, please try again.</div>
      <input type="submit" class="fadeIn fourth" value="Authenticate" ng-click="authenticate()">
    </form>

  </div>
</div>