			<header ng-include="'../layouts/navbar.html'"></header>
			<main>
				<div class="album py-5 bg-light" id="services">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="card mb-4 box-shadow">
									<div class="card-body">
										<p class="card-title">Anotation tool</p>
										<div class="d-flex justify-content-between align-items-center">
											<a href="/series/anotation" class="btn-sm btn-primary" >Go</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card mb-4 box-shadow">
									<div class="card-body">
										<p class="card-title">Text detection</p>
										<div class="d-flex justify-content-between align-items-center">
											<a href="/series/textdetection" class="btn-sm btn-primary">Go</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card mb-4 box-shadow">
									<div class="card-body">
										<p class="card-title">Object Sound Verification</p>
										<div class="d-flex justify-content-between align-items-center">
											<a href="/series/verification" class="btn-sm btn-primary">Go</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
