			<header ng-include="'../layouts/navbar.html'"></header>
			<main>
				<div class="album py-5 bg-light" id="album">
					<div class="container">
						<div class="row">
							<a href="/" class="btn btn-primary" >Back</a>
						</div>
						<div class="row mt-4">
							<div class="col-md-3" ng-repeat='serie in media'>
								<div class="card mb-4 box-shadow" >
										<img class="card-img-top" ng-src="media/{{serie}}/thumbnail.jpg" alt="{{normalizeName(serie)}} image"  onerror="this.src='img/folder.png'" height="130px">
									<div class="card-body">
										<p class="card-title">{{normalizeName(serie)}}</p>
										<div class="d-flex justify-content-between align-items-center">
											<div>
												<a href="/{{service}}/{{serie}}" class="btn-sm btn-primary">Go</a>
											</div>		
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="py-5 bg-light text-center">
					<div class="container">
						<div class="row justify-content-center">
							<div id="loader"></div>
						</div>
					</div>
				</div>
			</main>