			<header ng-include="'../layouts/navbar.html'"></header>
			<main>
				<div class="py-5 bg-light text-center">
			
					<div class="container">
						<div class="row justify-content-center">
							<div id="loader"></div>
						</div>
						<div id="preprocessing">
							<div class="row">
								<a href="#" class="btn btn-primary" ng-click="back()">Back</a>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<h5> Audio is being preprocessed</h5>
								</div>	
							</div>	
						</div>
						<div id="anotation-tool" >
							<div class="row">
								<div class="btn btn-primary" ng-click="back()">Back</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-12">
									<h5> 1. Select a scene to verify</h5>

									<div id="wave-timeline"></div>
									<div id="waveform"></div>
								</div>
							</div>
								<div class="row justify-content-center">
								<div class="col-sm-12">
									<div class="btn btn-primary"  ng-click="play()"><i class="fas " ng-class="{true:'fa-play', false:'fa-pause'}[paused]"/></div>
								</div>
							</div>
							<div class="row justify-content-center mt-3">
								<div class="col-sm-6">
									<h6> 2. Add new sound</h6>
									<input type='text' ng-model='newSound' />
									<a href="#" class="btn btn-primary" ng-click='addEvents(newSound)'>Add</a>
									<div class="container mt-3" ng-if="events.length>0">	
										<div class="row">
											<h6> 3. Drag the sound on to the scene</h6>
										</div>
										<div class="row">
											<div  class="btn btn-info col-md-3 m-1" ng-repeat='event in events' draggable="true" >{{event}} <span class="badge badge-light" ng-click="removeSound(sound)">x</span></div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
												<h6> 4. Drop the Sound</h6>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<video id="video" width="100%" autoplay="true" droppable="true" ></video>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-sm-12">
											<div ng-if="sceneSound!='' && sceneSound!= undefined "  class="btn btn-warning" >
												{{sceneSound}} <span class="badge badge-light" ng-click="remove()">x</span>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="row mt-3 justify-content-md-end">
								<div class="btn btn-primary" ng-click="back()">Finish</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="mdalLongTitle">Remove Sound</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Do you want to remove the sound?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-danger" ng-click="removeRegion()">Remove</button>
						</div>
						</div>
					</div>
				</div>
			</main>

