			<header ng-include="'../layouts/navbar.html'"></header>
			<main>
				<div class="album py-5 bg-light" id="album">
					<div class="container">
						<div class="row">
							<a href="/series/textdetection" class="btn btn-primary" >Back</a>
						</div>
						<div class="row mt-4">
							<div class="col-md-3" ng-repeat='episode in episodes'>
								<div class="card mb-4 box-shadow" >
										<img class="card-img-top" ng-src="media/{{media}}/{{episode.name}}/thumbnail.jpg" alt="{{episode}} image">
									<div class="card-body">
										<p class="card-title">{{episode.title}}</p>
										<div class="d-flex justify-content-between align-items-center">
											<a href="#" class="btn-sm btn-primary" ng-click="loadCanvas(episode.name)">Set Up Options</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="py-5 bg-light text-center">
					<div class="container">
						<div class="row justify-content-center">
							<div id="loader"></div>
						</div>
						<div id="preprocessing">
							<div class="row">
								<a href="#" class="btn btn-primary" ng-click="back()">Back</a>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<h5> Video is being preprocessed</h5>
								</div>	
							</div>	
						</div>
						<div id="textdetection-tool">
							<div class="row">
								<div class="btn btn-primary" ng-click="back()">Back</div>
							</div>
							<div class="row justify-content-center">
								
								<div class="col-sm-12">
										<h5> Select a part of the screen to look for text</h5>
								</div>
							</div>
							<div class="row justify-content-center">

								<div class="col-sm-4 mt-4">
										<div ng-repeat='area in areas' class="mt-2">
											<a href="#" class="btn btn-{{bg[$index]}}" type="button"  ng-click="remove($index)">Remove </a>
										</div>
									
								</div>
								<div class="col-sm-8 mt-4" style="position:relative">
									<video id="video" width="100%"  ></video>
									<canvas id="canvas" width="100%" ></canvas>
									<div id="output">
										<a href="#" class="btn btn-dark" type="button"  ng-click="backward()"> -10 </a>
										<a href="#" class="btn btn-dark" type="button"  ng-click="play()" > <span ng-show="!playing">play</span> <span ng-show="playing">pause</span></a>
										<a href="#" class="btn btn-dark" type="button"  ng-click="fordward()"> +10 </a>
									</div>
									
								</div>
							</div>
							<div class="row mt-3 justify-content-md-end">
								<div class="btn btn-primary" ng-click="back()">Finish</div>
							</div>
						</div>
					</div>
				</div>
			</main>
