      <div class="collapse bg-easytv" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-white">This Project has received funding from the European Unin's Horizon 2020 Research and Innovation Programme under Gran Agreement Nº 761999.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Twitter</a></li>
                <li><a href="#" class="text-white">Facebook</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-easytv box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="https://easytvproject.eu/" class="navbar-brand d-flex align-items-center" target="_blank">
            <img src="/img/logo_easytv_sintexto.png"  alt="EasyTv logo" width="150px"/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline" ng-click="logout()"><i class="fas fa-sign-out-alt"></i></i></button>
          </form>
      </div>
    